.wallet-page {
    background-color: #121212;
    min-height: 100vh;
}

.wallet-page h2 {
    color: #ff6600;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.wallet-page main {
    font-family: Arial, sans-serif;
    color: white;
    margin: auto;
    padding: 100px;
}

.wallet-page table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    border: 1px solid #444;
}

.wallet-page table th,
.wallet-page table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

.wallet-page th {
    background-color: #333;
    color: #ff6600;
}

.wallet-page tr:nth-child(even) {
    background-color: #1f1f1f;
}

.wallet-page tr:hover {
    background-color: #333;
}

.wallet-page td {
    color: #b3b3b3;
}

.wallet-page p {
    font-size: 1.2rem;
    color: #b3b3b3;
    text-align: center;
    margin-top: 20px;
}

.wallet-page .profit {
    color: green;
}

.wallet-page .loss {
    color: red;
}

.wallet-page .neutral {
    color: #b3b3b3;
}
