<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deal Details</title>
    <link th:href="@{/css/nav-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/deal-details-style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h2>Buy Details</h2>

<p><strong>Receive: </strong> <span th:text="${transaction.receiveCrypto.stripTrailingZeros().toPlainString()}">
</span><strong th:text="' ' + ${pair}"> </strong></p>
<p><strong th:text="'Current Price of ' + ${pair}">
</strong> <span th:text="${transaction.currCryptoPrice.stripTrailingZeros().toPlainString()}"></span> <strong> USD</strong></p>
<p><strong>Cost </strong> <span th:text="${transaction.spendMoney}"></span> <strong> USD</strong></p>
<br>
<br>

<p><strong>Current Assets</strong></p>
<table border="1">
    <thead>
    <tr>
        <th>Crypto Type</th>
        <th>Total Quantity</th>
        <th>Money in Currency</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each ="asset : ${assets}">
        <td th:text="${asset.cryptoType.symbol}"></td>
        <td th:text="${asset.totalQuantity.stripTrailingZeros().toPlainString()}"></td>
        <td th:text="${asset.moneyCurrency}"></td>
    </tr>
    </tbody>
</table>
</main>

</body>
</html>