<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Candlestick Chart for ' + ${pair}">Chart</title>
    <script src="https://unpkg.com/lightweight-charts@4.1.0/dist/lightweight-charts.standalone.production.js"></script>
    <link th:href="@{/css/nav-style.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/chart-style.css}">
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
    <main>
        <div class="intro">
    <h2 th:text="${name} + ' ' + ${pair}"></h2>

<form method="get" th:action="@{/chart/{pair}(pair=${pair})}">
    <label class="interval" for="interval">Избери интервал:</label>
    <select name="interval" id="interval">
        <option value="1" th:selected="${interval == 1}">1 минута</option>
        <option value="5" th:selected="${interval == 5}">5 минути</option>
        <option value="60" th:selected="${interval == 60}">1 час</option>
        <option value="1440" th:selected="${interval == 1440}">1 ден</option>
    </select>
    <button class="btn-show" type="submit">Покажи</button>
</form>
</div>

<div class="chart-trade">

    <div id="chart" style=" height: 500px;"></div>

    <div class="trade">
    <div class="btn">
    <button class="btn-buy" type="button" onclick="showBuyForm()">Buy</button>
    <button class="btn-sell" type="button" onclick="showSellForm()">Sell</button>
    </div>

<div id="buyForm" style="display: block;">
    <form method="post" th:action="@{/buy}" th:object="${tradeBindingModel}">
    <!-- <h2 th:text="'Buy ' + ${pair}"></h2> -->
    <input type="hidden" th:field="*{pair}" />

    <label>Spend USD </label>
    <input type="number" th:field="*{spend}" step="0.01" min="0" th:attr="max=${userBalance}"
           oninput="validateSpendUsd()" id="spendUsd" name="spend" required />
    <button class="btn-max" type="button" onclick="setMaxUsd()">MAX</button>
    <br/>

    <label th:text="'Receive ' + ${pair}"></label>
    <input type="text" id="receiveCrypto" name="receive" readonly />

    <br/>
    <button class="buy-btn" type="submit">Buy</button>
    </form>
</div>

<div id="sellForm" style="display: none;">
    <form method="post" th:action="@{/sell}" th:object = "${tradeBindingModel}">
    <!-- <h2 th:text="'Sell ' + ${pair}"></h2> -->
    <input type="hidden" th:field="*{pair}" />

    <label  th:text="'Spend ' + ${pair}"></label>
    <input type="number" th:field="*{spend}" step="any" min="0" th:attr="max=${quantityCrypto}"
           oninput="validateSpendCrypto()" id="spendCrypto" name="spend"  required />
    <button class="btn-max" type="button" onclick="setMaxCrypto()">MAX</button>
    <small th:if="${#fields.hasErrors('spend')}"
           th:errors="*{spend}" ></small>
    <br/>

    <label >Receive USD </label>
    <input type="text" id="receiveUsd" name="receive" readonly />

    <br/>
    <button class="sell-btn" type="submit">Sell</button>
    </form>
</div>
    </div>
   
</div>
    </main>


<script th:inline="javascript">
    window.candleData = /*[[${candles}]]*/ [];
     window.currentPrice = [[${currentPrice}]];
    window.userBalance = [[${userBalance}]];
    window.quantityCrypto = [[${quantityCrypto}]];
</script>
<script th:src="@{/js/chart.js}"></script>

</body>
</html>
