<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<main>
    <div class="container">
        <img class="img" src="/images/login.jpg" alt="">

        <div class="form-container">
            <h1 class="title">Login</h1>

            <form th:action="@{/login}" method="post">
                <div>
                    <input id="email" name="email" th:value="${email}" type="text" placeholder="Email" required>
                </div>

                <div>
                    <input id="password" name="password" type="password" placeholder="Password" required>
                </div>

                <div>
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="signup-link">
                <span>Don't have a profile?</span> <a href="/register">Sign up!</a>
            </div>
        </div>

    </div>
</main>
</body>
</html>
