<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction History</title>
    <link th:href="@{/css/nav-style.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/transaction-history-style.css}" >
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <h2>Transaction History</h2>
  <table border="1">
    <thead>
      <tr>
          <th>Crypto Type</th>
          <th>Transaction Type</th>
          <th>Spend Money</th>
          <th>Receive Crypto</th>
          <th>Spend Crypto</th>
          <th>Receive Money</th>
          <th>Price During the deal</th>
          <th>Date time</th>
          <th>Profit/Loss</th>
      </tr>
    </thead>
  <tbody>
  <tr th:each ="tran : ${transactions}">
    <td th:text="${tran.cryptoType.symbol}"></td>
    <td th:text="${tran.transactionType}"></td>
    <td th:text="${tran.spendMoney != null ? tran.spendMoney : '0'}"></td>
    <td th:text="${tran.receiveCrypto != null ? tran.receiveCrypto.stripTrailingZeros().toPlainString() : '0'}"></td>
    <td th:text="${tran.spendCrypto != null ? tran.spendCrypto.stripTrailingZeros().toPlainString() : '0'}"></td>
    <td th:text="${tran.receiveMoney != null ? tran.receiveMoney : '0'}"></td>
    <td th:text="${tran.currCryptoPrice != null ? tran.currCryptoPrice.stripTrailingZeros().toPlainString() : '0'}"></td>
    <td th:text="${#temporals.format(tran.dateTime, 'dd.MM.yyyy HH:mm')}"></td>
      <td th:id = "profitLoss"
          th:text="${#numbers.formatDecimal(tran.profitLoss, 1, 2, 'POINT')}"
          th:classappend="${tran.profitLoss > 0 ? 'profit' : (tran.profitLoss < 0 ? 'loss' : 'neutral')}">
      </td>
  </tr>

  </tbody>
</table>
</main>
<script th:src="@{js/transaction-history.js}"> </script>

</body>
</html>